<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jafar Portfolio</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <!-- Navigation -->
  <nav>
    <div class="logo"></div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
<div class="image"></div>
  <!-- Hero Section -->
   <section class="hero" id="home">
  <div class="hero-text">
    <h1>Hello, I'm <span>Jafar</span></h1>
    <p>
      <span class="underline">Web Developer</span> | 
      <span class="underline">Designer</span> | 
      <span class="underline">Learner</span> | 
      <span class="underline">App Developer</span>
    </p>
    <p class="tagline">
      Passionate about creating <span class="highlight">modern websites</span>, 
      building <span class="highlight">innovative apps</span>, and solving real-world problems.
    </p>
    
  </div>
</section>
</body>
</html>
